<div class="card h-100 shadow-sm" *ngIf="producto">
    <img src="{{producto.fotoUrl}}" alt="{{producto.nombre}}" class="img-fluid bg-info">
    <div class="card-body d-flex flex-column">
     <a href="" class="text-decoration-none">
        <h6 class="text-uppercase">
          {{producto.nombre}}
        </h6>
     </a>
     <span class="mb-2">{{producto.precio | currency}}</span>
     <div class="btn-group mt-auto">
      <button class="btn btn-outline-secondary"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
      <button class="btn btn-outline-secondary" routerLink="/shop/{{producto.id}}">View</button>
     </div>
    </div>
  </div>
