################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/BackEnd/TiendaApi/TiendaApi/appsettings.json
/BackEnd/TiendaApi/TiendaApi/appsettings.json
