<div class="container">
  <div class="row">
    <section class="col-3">
      <h5 class="text-warning ms-3">Ordenar por:</h5>
      <Select class="form-select mb-4" (change)="onSortSelected($event)">
        <option *ngFor="let sort of sortOptions" value="{{sort.value}}">
           {{sort.name}} 
        </option>
      </Select>
      <h5 class="text-warning ms-3">Marcas</h5>
      <ul class="list-group my-3" >
        <li class="list-group-item" *ngFor="let marca of marcas"
          [class.active] = "marca.id == shopParams.marcaId"
          [value]="marca.id"
          (click)="onMarcaSelected(marca.id)"> {{marca.nombre}} </li>
      </ul>
      <h5 class="text-warning ms-3">Tipos</h5>
      <ul class="list-group my-3">
        <li class="list-group-item" *ngFor=" let tipo of tipos"
          [class.active] = "tipo.id == shopParams.tipoId"
          [value]="tipo.id"
          (click)="onTipoSelected(tipo.id)"> {{tipo.nombre}} </li>        
      </ul>
    </section>
    <section class="col-9">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <app-paging-header 
        [pageNumber]="shopParams.pageNumber"
        [pageSize]="shopParams.pageSize"
        [totalCount]="totalCount"
        [pageSize]>
      </app-paging-header>
        <div class="d-flex mt-2">
          <input (keyup.enter)="onSearch()" type="text" placeholder="Search" class="form-control me-2" #search />
          <button (click)="onSearch()" class="btn btn-outline-primary mx-2">Search</button>
          <button (click)="onReset()" class="btn btn-outline-success">Reset</button>
        </div>
      </div>
      <div class="row row-cols-3 g-3 mb-4">
        <div class="col" *ngFor="let producto of productos">
            <app-producto-item [producto]="producto"></app-producto-item>
        </div>
      </div>
      <div class="d-flex justify-content-center" *ngIf="totalCount > 0">
          <app-pager
          [pageSize]="shopParams.pageSize"
          [totalCount]="totalCount"
          (pageChanged)="onPageChanged($event)"
          ></app-pager>
      </div>
    </section>
  </div>
</div>
