<div class="container mt-5">
    <h4>Internal server error - refreshing will make the error disappear</h4>
    <ng-container *ngIf="error">
        <h5 class="text-danger">Error: {{error.message}}</h5>
        <p class="font-weight-bold">Este error proviene del servidor, no de Angular</p>
        <p>¿Qué hacer a continuación?</p>
        <ol>
            <li>Verifique la pestaña de red en las herramientas de desarrollo de Chrome</li>
            <li>Reproduzca la solicitud en Postman: si ocurre el mismo error, ¡definitivamente no es angular!</li>
        </ol>
        <h5>Stack trace</h5>
        <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
    </ng-container>
</div>